.col-2,
.col-1-2,
.col-2-1,
.col-4,
.col-3,
.col-1-2-1,
.col-1-3-1,
.center-180 {
    display: grid;
    grid-gap: 1em;
}

@media only screen and (min-width: 400px) {
    .col-2 {
        grid-template-columns: 1fr;
    }
    .col-1-2 {
        grid-template-columns: 1fr;
    }
    .col-2-1 {
        grid-template-columns: 1fr;
    }
    .col-4 {
        grid-template-columns: 1fr 1fr;
    }
    .col-3 {
        grid-template-columns: 1fr;
    }
    .col-1-2-1 {
        grid-template-columns: 1fr;
    }
    .col-1-3-1 {
        grid-template-columns: 1fr;
    }
    .center-180 {
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 800px) {
    .col-2 {
        grid-template-columns: 1fr 1fr;
    }
    .col-1-2 {
        grid-template-columns: 1fr 2fr;
    }
    .col-2-1 {
        grid-template-columns: 2fr 1fr;
    }
    .col-4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .col-3 {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .col-1-2-1 {
        grid-template-columns: 1fr 2fr 1fr;
    }
    .col-1-3-1 {
        grid-template-columns: 1fr 3fr 1fr;
    }
    .center-180 {
        grid-template-columns: 1fr 180px 1fr;
    }
}