* {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    transition: 0s;
}

body {
    background-color: var(--bg);
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav {
    background-color: var(--main);
    border-top-left-radius: 20px;
    box-shadow: 0px 2px 1em rgba(0, 0, 0, 0.75);
    color: white;
    display: flex;
    height: 80px;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1;
    transition: 1s;
}

#logo {
    width: 150px;
    position: relative;
    border: none;
}

nav img {
    padding: 1em;
    height: 38px;
    margin: 0;
    margin-right: 1em;
}

nav ul {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
    text-align: center;
    padding: 0;
    margin: 0;
    width: calc(100% - 150px - 2em);
}

li.section {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    list-style-type: none;
    align-self: center;
    border-top-left-radius: 20px;
    height: 50%;
    padding: 0;
    align-items: center;
    /* align-self: center;
    align-content: center;
    align-items: center; */
}

li.section a {
    display: grid;
    color: white;
    text-decoration: none;
    border-top-left-radius: inherit;
    height: 100%;
    /* border: solid 2px yellowgreen; */
    text-align: center;
}

li.section a div {
    align-self: center;
}


/* nav>ul>a>li {
    list-style-type: none;
    padding: 1em 2em;
    border: solid 2px rgba(0, 0, 0, 0);
    border-top-left-radius: 20px;
} */

li.section:hover {
    background: rgba(255, 255, 255, 0.25);
}

.active {
    border: solid 2px white;
}

footer p {
    margin: 0;
    padding: 0;
}

footer {
    font-size: 0.75em;
    color: white;
    padding: 0.5em 1em;
    position: fixed;
    z-index: 1;
    background-color: var(--main);
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0px -2px 1em rgba(0, 0, 0, 0.75);
    border-top-left-radius: 20px;
    transition: 1s;
}

.article {
    padding: 1em 2em;
    /* background: rgba(256, 256, 256, 0.9); */
    background: var(--article-bg);
    color: var(--article-fg);
    margin-bottom: 1em;
    border-top-left-radius: 20px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

h1,
h2,
h3 {
    color: var(--h1);
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 0.25em;
    transition: 1s;
}

h1 {
    font-size: 1.5em;
}

h2 {
    margin-top: 1em;
    font-size: 1.25em;
}

h3 {
    margin-top: 1em;
    font-size: 1.1em;
}

.cit {
    border-top-left-radius: 20px;
}

p {
    text-align: justify;
}

#col1,
#col2,
#col3,
#col4 {
    background-color: var(--main);
}

.yt {
    /* Will only be shown while the video loads. */
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.ytcontainer {
    margin-top: 1em;
    margin-bottom: 1em;
}

.special {
    font-weight: 500;
    /* color: rgb(0, 150, 240); */
    color: var(--spec);
}

#theme {
    align-content: center;
}

#theme p {
    text-align: center;
    margin: 0;
    padding: 0;
    border-top-left-radius: 50%;
    height: 20px;
    width: 20px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#theme p:hover {
    transition: 0.5s;
    transform: scale(1.5);
}

#tooltip {
    font-size: 0.8em;
    align-self: center;
    text-align: center;
    display: none;
    color: rgba(255, 255, 255, 0.5);
}

#theme:hover+#tooltip {
    display: block;
}

#frame {
    position: absolute;
    top: 80px;
    margin: 0;
    border: 0;
    width: calc(100%);
}

.framediv {
    top: 80px;
    padding: 1em;
    margin-bottom: 2em;
}

#subscribe {
    margin: 2em 0 2em 0;
    border-top-left-radius: 20px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    min-width: 400px;
    max-width: 800px;
}

#subscribe textarea,
#subscribe input,
#subscribe select {
    padding: 0.2em 0.5em;
    background-color: var(--bg);
    color: var(--article-fg);
}

#subscribe label {
    color: var(--article-fg);
}

#subscribe form {
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: auto 1fr;
    padding: 1em;
    border: solid 2px var(--main);
}

#subscribe h3 {
    border-top-left-radius: 20px;
    background: var(--main);
    color: white;
    margin: 0;
    padding: 0.5em 1em;
}

#submit,
#cancel {
    height: 3em;
    padding: 1em 2em;
    border: 0;
    border-top-left-radius: 20px;
    background-color: var(--main) !important;
    color: rgba(255, 255, 255, 0.65) !important;
    cursor: pointer;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

#cancel {
    height: 2em;
}

#submit:hover,
#cancel:hover {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5), 2px 2px 2px rgba(255, 255, 255, 0.75) inset, -2px -2px 1px rgba(255, 255, 255, 0.75) inset;
    color: rgba(255, 255, 255, 0.9) !important;
}

.photo {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

#map {
    padding: 0;
    margin-left: 1em;
    margin-right: 0;
    width: 100%;
    height: 350px;
    border: 0;
    border-top-left-radius: 20px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

#contact-container {
    position: fixed;
    top: 1em;
    width: calc(70% - 3em);
}

#twitter-container {
    float: right;
    width: 30%;
}